*{
    margin: 0;
    padding: 0;
}  
.myCards{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
} 
card{
    margin: 20px;
}
/* @media screen and (min-width: 400px) and (max-width: 700px) { 
    card {
        width: 100%;
    }
    
}  */